<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>332324062727-civ2d2d0tet2pmbo627fra841hb45pqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332324062727-civ2d2d0tet2pmbo627fra841hb45pqv</string>
	<key>API_KEY</key>
	<string>AIzaSyCdEJ42ojafLwD8G-0EEMCFfJ4mNP42GG8</string>
	<key>GCM_SENDER_ID</key>
	<string>332324062727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suthesis-13570020.eWallet</string>
	<key>PROJECT_ID</key>
	<string>thesis-su</string>
	<key>STORAGE_BUCKET</key>
	<string>thesis-su.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332324062727:ios:08aef679c5b5505b</string>
	<key>DATABASE_URL</key>
	<string>https://thesis-su.firebaseio.com</string>
</dict>
</plist>